<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴와 검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="index-container">
    <header>
        <nav class="top-nav">
            <ul class="menu">
                <li id="MENU-HOME">Home</li>
                <li id="MENU-NOTICE">공지</li>
                <li id="MENU-MEETING">회의록</li>
                <li id="MENU-MANAGE">관리</li>
                <li id="MENU-CALENDAR">캘린더</li>
                <li id="MENU-CENTURA">CENTURA</li>
                <li id="MENU-VANTAGE">VANTAGE</li>
                <li id="MENU-FRTP">FRTP</li>
                <li id="MENU-ESCALA">ESCALA</li>
                <li id="MENU-LSA">LSA</li>
                <li id="MENU-HPA">HPA</li>
                <li id="MENU-LOHAS">LOHAS</li>
                <li id="MENU-ARGOS">ARGOS</li>
                <li id="MENU-VIVA">VIVA</li>    
                <li id="MENU-SYSTEM">SYSTEM</li>       
                <li id="MENU-ETC">기타</li>       
            </ul>
        </nav>
    </header>
    <main>
        <iframe 
            id="dynamic-iframe" 
            src="/home" 
            frameborder="0" 
            scrolling="no" 
            style="width: 100%; height: 0; display: none;">
        </iframe>

        <!-- 드롭다운 영역 -->
        <div id="dropdown-container" class="dropdown hidden"></div>
    </main>
</div>
</body>
</html>
